$main_color: #333333;
$sub_color: #ffffff;
$font_size: 1.6rem;
$font_logo: 'Allura', cursive;
$pc: 1025px;

html {
  color: $main_color;
  font-size: 62.5%;
  font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium',
    '游ゴシック', 'Yu Gothic', sans-serif;
}

img {
  max-width: 100%;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid #333333;
  background-color: $sub_color;
  z-index: 9999;
  &-list {
    display: flex;
    justify-content: space-around;
    margin: 12px auto;
  }
  &-text {
    font-family: $font_logo;
    font-size: $font_size;
  }
  &-icon {
    font-size: 3rem;
  }
}

footer {
  background-color: $main_color;
  margin-bottom: 76px;
  padding: 12px 0;
  text-align: center;
  div {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin: 0 auto 12px;
    li {
      display: inline-block;
      width: 36px;
      height: 36px;
      background-color: $sub_color;
      border-radius: 50%;
      i {
        color: $main_color;
        font-size: 1.6rem;
        padding: 10px;
      }
    }
  }
  small {
    color: $sub_color;
    font-size: 1.2rem;
  }
}

.bottom-header {
  height: 0;
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 26.25%;
  margin-bottom: 32px;
  background-image: url(../Image/Botttom-Mainvisual.jpg);
  background-size: cover;
  position: relative;
}

.wrapper {
  padding: 0 10vw;
  max-width: 640px;
  margin: auto;
}

//サイトロゴ
.sitelogo {
  &-top {
    font-family: $font_logo;
    font-size: clamp(3.2rem, 30vw, 12rem);
  }
  &-bottom {
    font-family: $font_logo;
    color: $sub_color;
    text-shadow: 1px 1px 2px $main_color;
    font-size: calc(6rem + (10 - 6) * ((100vw - 30rem) / (120 - 30)));
    position: absolute;
    top: 10px;
    left: 10vw;
  }
}

//タイトル
.title {
  &-top {
    font-family: $font_logo;
    font-size: 3.6rem;
    margin-bottom: 8px;
  }
  &-bottom {
    font-family: $font_logo;
    font-size: 3.6rem;

    margin-bottom: 24px;
  }
}

//ボタン
.btn {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  color: $sub_color;
  background: $main_color;
  padding: 12px 0;
  box-sizing: border-box;
  width: 160px;
  height: 40px;
}
