.form {
  font-size: $font_size;
  margin: 0 auto 96px;
  &-label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 16px;
  }
  &-text {
    width: 100%;
    border: 1px solid $main_color;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 32px;
  }
  &-terms {
    text-align: center;
    margin-bottom: 32px;
    font-size: 1.2rem;
  }
  &-btn {
    text-align: center;
  }
}

.checkbox {
  &-icon {
    /* □ */
    position: absolute;
    top: -1px; /* 上からの位置 */
    left: 0;
    height: 20px; /* 大きさ */
    width: 20px; /* 大きさ */
    border: solid 1px #333333; /* 線 */
    border-radius: 2px;
    box-sizing: border-box;
    &:after {
      /* ✓ */
      content: '';
      position: absolute;
      left: 4px; /* チェックの位置 */
      top: -1px; /* チェックの位置 */
      width: 6px; /* チェックの大きさ */
      height: 10px; /* チェックの大きさ */
      border: solid #fff;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      opacity: 0; /* 透明にしておく */
    }
  }

  &-box {
    display: block;
    position: relative;
    margin: 0 16px 16px 0;
    padding-left: 28px;
    cursor: pointer;
    user-select: none; /* テキストの選択を防ぐ */
    input {
      /* inputは非表示にする */
      display: none;
    }
    input:checked + .checkbox-icon {
      /* チェックが入ったときの□ */
      background: $main_color; /* チェック時の色 */
      border-color: $main_color; /* チェック時の色 */
    }
    /* チェックが入ったときの✓ */
    input:checked + .checkbox-icon:after {
      opacity: 1; /* 透明を解除 */
    }
  }
}

textarea {
  width: 100%;
  height: 80px;
  border: 1px solid $main_color;
  border-radius: 3px;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 32px;
}
