@charset "UTF-8";
html {
  color: #333333;
  font-size: 62.5%;
  font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', sans-serif;
}

img {
  max-width: 100%;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  z-index: 9999;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 12px auto;
}

.nav-text {
  font-family: "Allura", cursive;
  font-size: 1.6rem;
}

.nav-icon {
  font-size: 3rem;
}

footer {
  background-color: #333333;
  margin-bottom: 76px;
  padding: 12px 0;
  text-align: center;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 12px;
}

footer div li {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
}

footer div li i {
  color: #333333;
  font-size: 1.6rem;
  padding: 10px;
}

footer small {
  color: #ffffff;
  font-size: 1.2rem;
}

.bottom-header {
  height: 0;
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 26.25%;
  margin-bottom: 32px;
  background-image: url(../Image/Botttom-Mainvisual.jpg);
  background-size: cover;
  position: relative;
}

.wrapper {
  padding: 0 10vw;
  max-width: 640px;
  margin: auto;
}

.sitelogo-top {
  font-family: "Allura", cursive;
  font-size: 5rem;
}

@media screen and (min-width: 600px) {
  .sitelogo-top {
    font-size: 10rem;
  }
}

@media screen and (min-width: 1025px) {
  .sitelogo-top {
    font-size: 14rem;
  }
}

.sitelogo-bottom {
  font-family: "Allura", cursive;
  color: #ffffff;
  text-shadow: 1px 1px 2px #333333;
  font-size: 5rem;
  position: absolute;
  top: 10px;
  left: 10vw;
}

@media screen and (min-width: 600px) {
  .sitelogo-bottom {
    font-size: 10rem;
  }
}

@media screen and (min-width: 1025px) {
  .sitelogo-bottom {
    font-size: 14rem;
  }
}

.title-top {
  font-family: "Allura", cursive;
  font-size: 3.6rem;
  margin-bottom: 8px;
}

.title-bottom {
  font-family: "Allura", cursive;
  font-size: 3.6rem;
  margin-bottom: 24px;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  color: #ffffff;
  background: #333333;
  padding: 12px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  height: 40px;
}

.btn-red {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  color: #ffffff;
  background: #ff0000;
  padding: 12px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  height: 40px;
}

.uppercase {
  text-transform: uppercase;
}

.about {
  margin: 0 auto 64px;
  position: relative;
}

.about-image {
  max-width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-info {
  background-color: #ffffff;
  border: 1px solid #333333;
  padding: 16px;
  position: relative;
  bottom: 50px;
  left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 590px;
}

.about-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.career {
  font-size: 1.6rem;
  margin: 0 auto 64px;
}

.career-ivent {
  margin-bottom: 24px;
}

.career-year {
  margin-bottom: 8px;
}

.media {
  font-size: 1.6rem;
  margin: 0 auto 96px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  row-gap: 32px;
  margin-bottom: 32px;
}

.works-image {
  cursor: pointer;
}

.works-para {
  margin-bottom: 32px;
}

.bottom-ytworks {
  margin: 0 auto 64px;
  text-align: center;
}

.bottom-vpworks {
  margin: 0 auto 96px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.blog-article {
  border: 1px solid #333333;
  padding: 5vw;
}

.form {
  font-size: 1.6rem;
  margin: 0 auto 96px;
}

.form-label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 16px;
}

.form-text {
  width: 100%;
  border: 1px solid #333333;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 32px;
}

.form-terms {
  text-align: center;
  margin-bottom: 32px;
  font-size: 1.2rem;
}

.form-btn {
  text-align: center;
}

.checkbox-icon {
  /* □ */
  position: absolute;
  top: -1px;
  /* 上からの位置 */
  left: 0;
  height: 20px;
  /* 大きさ */
  width: 20px;
  /* 大きさ */
  border: solid 1px #333333;
  /* 線 */
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox-icon:after {
  /* ✓ */
  content: '';
  position: absolute;
  left: 4px;
  /* チェックの位置 */
  top: -1px;
  /* チェックの位置 */
  width: 6px;
  /* チェックの大きさ */
  height: 10px;
  /* チェックの大きさ */
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  /* 透明にしておく */
}

.checkbox-box {
  display: block;
  position: relative;
  margin: 0 16px 16px 0;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* テキストの選択を防ぐ */
  /* チェックが入ったときの✓ */
}

.checkbox-box input {
  /* inputは非表示にする */
  display: none;
}

.checkbox-box input:checked + .checkbox-icon {
  /* チェックが入ったときの□ */
  background: #333333;
  /* チェック時の色 */
  border-color: #333333;
  /* チェック時の色 */
}

.checkbox-box input:checked + .checkbox-icon:after {
  opacity: 1;
  /* 透明を解除 */
}

textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #333333;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  margin-bottom: 32px;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.modal-innercontainer {
  background-color: #fff;
  border-radius: 6px;
  max-height: 90vh;
  padding: 5vw;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  width: 80%;
  max-width: 640px;
}

.modal-close {
  text-align: right;
  margin-bottom: 8px;
}

.modal-iframe {
  position: relative;
  width: 100%;
  padding: calc(315 / 560 * 100%) 0 0;
  margin-bottom: 16px;
}

.modal-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.modal-company {
  text-align: center;
}

/* アニメーション */
.modal[aria-hidden='false'] .modal-overlay {
  -webkit-animation: fadeIn 300ms ease-in-out forwards;
          animation: fadeIn 300ms ease-in-out forwards;
}

.modal[aria-hidden='false'] .modal-container {
  -webkit-animation: slideIn 300ms ease-in-out forwards;
          animation: slideIn 300ms ease-in-out forwards;
}

.modal[aria-hidden='true'] .modal-overlay {
  -webkit-animation: fadeOut 300ms ease-in-out forwards;
          animation: fadeOut 300ms ease-in-out forwards;
}

.modal[aria-hidden='true'] .modal-container {
  -webkit-animation: slideOut 300ms ease-in-out forwards;
          animation: slideOut 300ms ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
  }
}

.top-header {
  height: 0;
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 52.17%;
  margin-bottom: 32px;
  background-image: url(../Image/Top-Mainvisual.jpg);
  background-size: cover;
  position: relative;
}

@media screen and (min-width: 1025px) {
  .top-header {
    height: 500px;
    padding: 0;
  }
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 16px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
}

.nav-btn {
  text-align: center;
}

.prof {
  position: absolute;
  top: 8vw;
  left: 10vw;
  color: #ffffff;
  text-shadow: 1px 1px 2px #333333;
}

.prof-list {
  text-shadow: 1px 1px 2px #333333;
  padding-left: 8px;
  display: relative;
}

@media screen and (min-width: 600px) {
  .prof-list {
    padding-left: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .prof-list {
    padding-left: 12px;
  }
}

.prof-name {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

@media screen and (min-width: 600px) {
  .prof-name {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .prof-name {
    font-size: 2.8rem;
    margin-bottom: 12px;
  }
}

.prof-work {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

@media screen and (min-width: 600px) {
  .prof-work {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .prof-work {
    font-size: 2.8rem;
    margin-bottom: 12px;
  }
}

.prof-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  max-width: 100px;
}

@media screen and (min-width: 600px) {
  .prof-icon {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1025px) {
  .prof-icon {
    font-size: 2.8rem;
  }
}

.top-about {
  text-align: center;
  margin: 0 auto 64px;
}

.top-about-prof {
  width: 200px;
  margin-bottom: 16px;
}

.top-about-name {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.top-about-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  max-width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 32px;
}

.top-about-para {
  margin-bottom: 32px;
}

.top-ytworks {
  text-align: center;
  margin: 0 auto 64px;
}

.top-ytworks-para {
  margin-bottom: 32px;
}

.btn-yt {
  margin-top: 16px;
}

.top-vpworks {
  text-align: center;
  margin: 0 auto 96px;
}

.top-vpworks-para {
  margin-bottom: 32px;
}

.thumbnail {
  margin-bottom: 32px;
}

@media screen and (min-width: 1025px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60vw;
    background-color: transparent;
    border: none;
  }
  .nav-icon {
    display: none;
  }
  .nav-text {
    font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 2px #333333;
  }
  .ytworks-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-yt {
    margin: 0 0 0 32px;
  }
  footer {
    margin: 0;
  }
  .checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.swiper-container {
  margin-bottom: 32px;
}

.swiper-button-next {
  color: #ffffff;
}

.swiper-button-prev {
  color: #ffffff;
}

.toggle-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle-label {
  width: 32px;
  height: 16px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toggle-label:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-input:checked + .toggle-label {
  background-color: #333333;
}

.toggle-input:checked + .toggle-label:after {
  left: 16px;
}

.toggle-switch {
  position: relative;
  width: 32px;
  height: 16px;
  margin: auto;
}

.light-theme {
  background: #fff;
  color: #333;
}

.dark-theme {
  background: #000;
  color: #ddd;
}
/*# sourceMappingURL=style.css.map */