@import 'common';
@import 'about';
@import 'works';
@import 'contact';

.top-header {
  height: 0;
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 52.17%;
  margin-bottom: 32px;
  background-image: url(../Image/Top-Mainvisual.jpg);
  background-size: cover;
  position: relative;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 16px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
}

.nav-btn {
  text-align: center;
}

.prof {
  position: absolute;
  top: 8vw;
  left: 10vw;
  color: $sub_color;
  text-shadow: 1px 1px 2px $main_color;

  &-list {
    border-left: 3px solid $sub_color;
    text-shadow: 1px 1px 2px $main_color;
    padding-left: 10px;
  }

  &-name {
    font-size: 2.4rem;
    margin-bottom: 12px;
  }
  &-work {
    font-size: $font_size;
    margin-bottom: 12px;
  }
  &-icon {
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
    max-width: 100px;
  }
}

.top-about {
  text-align: center;
  margin: 0 auto 64px;
  &-prof {
    width: 200px;
    margin-bottom: 16px;
  }
  &-name {
    font-weight: bold;
    font-size: $font_size;
    margin-bottom: 16px;
  }
  &-sns {
    display: flex;
    font-size: 1.8rem;
    max-width: 100px;
    justify-content: space-between;
    margin: 0 auto 32px;
  }
  &-para {
    margin-bottom: 32px;
  }
}

.top-ytworks {
  text-align: center;
  margin: 0 auto 64px;
  &-para {
    margin-bottom: 32px;
  }
}

.btn-YT {
  margin-top: 16px;
}

.top-vpworks {
  text-align: center;
  margin: 0 auto 96px;
  &-para {
    margin-bottom: 32px;
  }
}

.thumbnail {
  margin-bottom: 32px;
}

@media screen and (min-width: 1025px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60vw;
    background-color: transparent;
    border: none;
    margin-left: 40vw;
    &-icon {
      display: none;
    }
    &-text {
      font-family: '游ゴシック体', YuGothic, '游ゴシック Medium',
        'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $sub_color;
      text-shadow: 1px 1px 2px $main_color;
    }
  }
  .ytworks-btn {
    display: flex;
    justify-content: center;
  }
  .btn-YT {
    margin: 0 0 0 32px;
  }

  footer {
    margin: 0;
  }
}
