$main_color: #333333;
$sub_color: #ffffff;
$font_size: 1.6rem;
$font_logo: 'Allura', cursive;

html {
  color: $main_color;
  font-size: 62.5%;
  font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium',
    '游ゴシック', 'Yu Gothic', sans-serif;
}

header {
  height: 0;
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 52.17%;
  margin-bottom: 32px;
  background-image: url(../Image/Home-Mainvisual.jpg);
  background-size: cover;
  position: relative;
}

img {
  max-width: 100%;
}

h1 {
  color: $sub_color;
  font-family: $font_logo;
  font-size: clamp(3.2rem, 30vw, 6rem);
  margin-bottom: 24px;
}

h2 {
  font-family: $font_logo;
  font-size: 3.6rem;
  margin-bottom: 8px;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 16px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid #333333;
  background-color: $sub_color;
  ul {
    display: flex;
    justify-content: space-around;
    margin: 12px auto;
    li {
      &.text {
        font-family: $font_logo;
        font-size: $font_size;
      }
      span {
        &.material-icons {
          font-size: 3rem;
        }
      }
    }
  }
}
.navigation-btn {
  text-align: center;
}

.prof {
  position: absolute;
  top: 8vw;
  left: 10px;
  color: $sub_color;

  &-name {
    font-size: 2.4rem;
    margin-bottom: 12px;
  }
  &-work {
    font-size: $font_size;
    margin-bottom: 12px;
  }
  &-icon {
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
    max-width: 100px;
  }
}

.top-about {
  text-align: center;
  padding: 0 5vw 64px;
  &-prof {
    width: 200px;
    margin-bottom: 16px;
  }
  &-name {
    font-weight: bold;
    font-size: $font_size;
    margin-bottom: 16px;
  }
  &-sns {
    display: flex;
    font-size: 1.8rem;
    max-width: 100px;
    justify-content: space-between;
    margin: 0 auto 32px;
  }
}

.top-ytworks {
  text-align: center;
  padding: 0 10vw 64px;
  &-para {
    margin-bottom: 32px;
  }
}

.btn-YT {
  margin-top: 16px;
}

.top-vpworks {
  text-align: center;
  padding: 0 10vw 96px;
  &-para {
    margin-bottom: 32px;
  }
}

footer {
  background-color: $main_color;
  margin-bottom: 76px;
  padding: 12px 0;
  text-align: center;
  div {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin: 0 auto 12px;
    li {
      display: inline-block;
      width: 36px;
      height: 36px;
      background-color: $sub_color;
      border-radius: 50%;
      i {
        color: $main_color;
        font-size: 1.6rem;
        padding: 10px;
      }
    }
  }
  small {
    color: $sub_color;
    font-size: 1.2rem;
  }
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  color: $sub_color;
  background: $main_color;
  padding: 12px 0;

  width: 160px;
  height: 40px;
}

.thumbnail {
  margin-bottom: 32px;
}
